* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(1, 179, 1);
}

.container {
    width: 95%;
    border: 4px solid rgb(1, 179, 1);
    margin: 50px auto 0 auto;
    padding: 20px;
}

.mainHeader {
    font-size: 75px;
}

.subHeading {
    font-size: 35px;
    font-style: italic;
}

.notes {
    color: red;
    font-weight: 400;
    letter-spacing: 1px;
}

.overall {
    color: white;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.pink {
    color: pink;
}

.june11 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june12 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june17 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june18 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june19 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june20 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june21 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june22 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}

.june23 {
    border: 1px solid rgb(1, 179, 1);
    padding: 10px;
    line-height: 2;
}